.modif_row {
    /* color: red; */
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #333;
}

.banner_img {
    
}

.button {
    display: inline-block;
    background-color: rgb(236, 67, 0);
    color: #fff;
    padding: 17px 35px;
    border-radius: 45px;
    font-size: 14px;
    font-weight: 700;
}

.banner_title {
    font-size: 110px;
    margin-bottom: 20px;
}


.left_infobox {
    width: 100%;
}

.temp {
    width: 100%;
}
.temp1 {
    background-color: aquamarine;
}