.modif_row {
    /* color: red; */
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

h1 {
    color: aqua;
}

.banner_img {
    
}

.banner_title

.left_infobox {
    width: 100%;
}

.temp {
    border: 1px solid #ccc;
    color: green !important;
    width: 100%;
}
.temp1 {
    background-color: aquamarine;
}