.cart_title {
    margin-bottom: 60px;
}
.cart_img {
    width: 200px;
}
.cart_item {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
}
.modif_btn {
    padding: 10px !important;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.total_orderinfo {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
}
.cart_item_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modif_btn {
    width: 120px;
    text-align: center;
}
.modif_btn i {
    margin-right: 10px;
}