.overlay {
    /* position: absolute; */
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    background-color: rgba(0,0,0, .);
    z-index: 10;
    /* opacity: 10%; */
    
}
.wrapper {
    width: 600px;
    height: 400px;
    background-color: #fff;
    margin: 0 auto;
    z-index: 100;
}