.review_item {
    width: 100px;
    border: 1px solid #ccc;
    background-color: #;
}

.items_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.slides {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 900px; 
}
.slide {
    flex: 0 0 300px; 
    text-align: center;
}
.left_arrow {
    font-size: 24px;
    cursor: pointer;
    color: rgba(236, 67, 0, .9);
}
.right_arrow {
    font-size: 24px;
    cursor: pointer;
    color: rgba(236, 67, 0, .9);
}