.reviews_title {
    text-align: center;
    font-size: 42px;
    margin-bottom: 60px;
}
.left_arrow,
.right_arrow {
    font-size: 24px;
    cursor: pointer;
    color: rgba(236, 67, 0, 0.9);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.left_arrow {
    left: 0px;
}

.right_arrow {
    right: 0px;
}

.disabled_arrow {
    color: #ccc;
    cursor: default;
    pointer-events: none;
}
.image {
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.items_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
}

.slides {
    display: flex;
    gap: 20px;
    width: 900px;
    height: 320px;
    overflow: visible;
}

.slide {
    flex: 0 0 270px;
    text-align: center;
    box-shadow: 0px 0px 10px 5px #f5f5f5;
    padding: 10px;
    margin: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

.slide h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.slide p {
    font-size: 0.9em;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 6em; /* Ограничение по высоте для длинного текста */
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Количество строк до обрезки */
    -webkit-box-orient: vertical;
}

.slide p:last-child {
    margin-top: auto;
}


