.header {
    align-items: center;
}

.logo_img {
    width: 50px;
}

.header_options {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    gap: 10px;
}
.header_options i {
    margin-left: 20px;
    font-size: 24px;
}

.menu_items {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.menu_items a:hover {
    color: rgb(236, 67, 0);
}

.menu_item_link {
    font-weight: 600;
    color: #333;
}

.underline_effect {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.underline_effect::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(236, 67, 0);
    transition: width 0.4s ease-out;
}

.underline_effect:hover::after {
    width: 100%;
}
.cart {
    position: relative;
}
.cart i {
    width: 45px;
    height: 45px;
    padding-top: 10px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px 2px #f5f5f5, -5px -5px 10px 2px #f5f5f5;
    text-align: center;
    transition: background-color 1s, color 0.3s;
}
.account i {
    width: 45px;
    height: 45px;
    color: #333;
    padding-top: 10px;
    border-radius: 6px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px 2px #f5f5f5, -5px -5px 10px 2px #f5f5f5;
    text-align: center;
    transition: background-color 1s, color 0.3s;
}

.cart i:hover {
    background-color: rgb(236, 67, 0);
    color: #fff;
}
.account i:hover {
    background-color: rgb(236, 67, 0);
    color: #fff;
}

.cart_banner {
    position: absolute;
    left: 30px;
    top: 6px;
    z-index: 10;
}
