
:root {
  --fs: 16px;
  --font: Nunito;
  --bg: #fff;
  --color-text: #333;
  --color-text-more: rgba(0,0,0, 0.4);
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: var(--fs);
  background-color: var(--bg);
  color: var(--color-text);
  line-height: 1.4;
  margin: 0;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-text-more);
}

img {
  max-width: 100%;
  vertical-align: top;
}


.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.indent {
  padding-top: 50px;
  padding-bottom: 50px;
}
ul {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.col-3, .col-4, .col-6 {
  margin: 15px;
}
.col-3 {
  width: calc(33.33333% - 30px);
}
.col-4 {
  width: calc(25% - 30px);
}
.col-6 {
  width: calc(50% - 30px);
}

a {
  text-decoration: none;
}


