
:root {
  --fs: 16px;
  --font: Nunito;
  --bg: #fff;
  --color-text: #333;
  --color-text-more: rgba(0,0,0, 0.4);
}

* {
  box-sizing: border-box;
}



body {
  font-family: var(--font);
  font-size: var(--fs);
  background-color: var(--bg);
  color: var(--color-text);
  line-height: 1.4;
  margin: 0;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-text-more);
}

button {
  border: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.indent {
  padding-top: 50px;
  padding-bottom: 50px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.button {
  display: inline-block;
  background-color: rgb(236, 67, 0);
  color: #fff;
  padding: 17px 35px;
  border-radius: 45px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.col-3, .col-4, .col-6 {
  margin: 15px;
}
.col-3 {
  width: calc(33.33333% - 30px);
}
.col-4 {
  width: calc(25% - 30px);
}
.col-6 {
  width: calc(50% - 30px);
}
.col-5 {
  width: calc(41.6666% - 30px);
}
.col-7 {
  width: calc(58,3333% - 30px); 
}

html, body {
  height: 100%;
  margin: 0;
}




