.products_title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
}

.product_item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
}
.product_item:hover {
    
}

.product_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product_card_top {
    flex-grow: 1;
}

.product_name {
    margin-bottom: 10px;
    font-size: 1.17em;
}
.product_description {
    font-size: 12px;
}

.product_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.product_pdice {
    color: #333;
    font-weight: 700;
    font-size: 20px;
}
.product_button {
    display: inline-block;
    padding: 7px 15px;
    text-decoration: none;
    color: rgb(236, 67, 0);
    border: 1px solid rgb(236, 67, 0);
    border-radius: 45px;
    cursor: pointer;
    transition: .3s;
}
.product_button:hover {
    background-color: rgb(236, 67, 0);
    color: #fff;
} 
.product_order {
    margin-left: 6px;
    font-size: 14px;
}
